<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<p style="text-align: right;">Начальнику <%= @organization.name %><br><%= @organization.chief %></p>

<p>Прошу вас принять меры в отношении владельца транспортного средства, совершившего нарушение правил остановки и стоянки.</p>

<p>Прошу привлечь к ответственности в соответствии с Кодексом Республики Беларусь об Административных Правонарушениях, <b>Статья 18.22</b> “Нарушение правил остановки и стоянки транспортного средства, а также иных правил дорожного движения” и ознакомить меня с принятыми мерами.
  Фотография(-и) приложены в письме.</p>

<p><b>Сведения о нарушителе:</b></p>
<p>
Гос.номер транспортного средства: <%= @report.car_number %><br>
Место нарушения(адрес): <%= @report.place %><br>
Дата и время нарушения: <br></p>



<p>Прошу зарегистрировать настоящее обращение в соответствии с <b>Законом «Об обращениях граждан и юридических лиц»</b> и в соответствии с требованиями и. 5 ст. 10 данного Закона и абзацами 6, 13 ст. 22 <b>Закона «Об органах внутренних дел Республики Беларусь»</b> поручить соответствующему подразделению <%= @organization.name %> проведение мероприятий, направленных на установление вышеуказанных лиц с целью привлечения их к соответствующей административной ответственности за нарушение правил стоянки транспортного средства.<br>
Поводом к началу административного процесса в данном случае в соответствии с пунктами <b>8 и 9 Инструкции</b> о порядке приема, регистрации, рассмотрения и учета органами внутренних дел заявлений и сообщений о преступлениях, административных правонарушениях и информации о происшествиях, утвержденной <b>постановлением МВД от 10.03.2010 № 55</b>, прошу считать <u>непосредственное обнаружение признаков административного правонарушения сотрудником ОВД, на рассмотрении которого будет находиться настоящее мое обращение</u>, зарегистрированное в подразделении режимно-секретной деятельности (канцелярии).<br>
Обращаю внимание, что согласно пунктам 8 и 9 указанной Инструкции непосредственное обнаружение признаков административного правонарушения не заключается в том, чтобы сотрудники ОВД обязательно являлись очевидцами правонарушения, и что в данном случае сотрудником ОВД должен быть составлен рапорт о непосредственном обнаружении признаков административного правонарушения.<br>
В ходе ведения административного процесса я готов(а) предоставить объяснения в качестве свидетеля, так как являюсь очевидцем указанных нарушении ПДД.<br>
На основании ст. 7 и и. 5 ст. 25 Закона «Об обращениях граждан и юридических лиц» прошу одновременно направить письменный ответ на настоящее обращение и ответ на адрес моей электронной почты, в которых указать сведения о принятых мерах в соответствии с компетенцией органов внутренних дел и требований указанных нормативных правовых актов.</p>




<p>С уважением, <%= @report.reporter_name %><br>
проживающий по адресу: <%= @report.reporter_residence %>(по этому адресу придет письмо с ответом на заявление)</p>

<p>Телефон: <%= @report.reporter_phone %></p>

</body>
</html>